[submodule "packages/PhysioFit"]
	path = packages/PhysioFit
	url = https://github.com/MetaSys-LISBP/PhysioFit.git
[submodule "packages/PhysioFit_Data_Manager"]
	path = packages/PhysioFit_Data_Manager
	url = https://github.com/MetaboHUB-MetaToul-FluxoMet/PhysioFit_Data_Manager.git
[submodule "packages/Isoplot"]
	path = packages/Isoplot
	url = https://github.com/MetaboHUB-MetaToul-FluxoMet/Isoplot.git
[submodule "packages/influx_data_manager"]
	path = packages/influx_data_manager
	url = https://github.com/llegregam/influx_data_manager.git
[submodule "packages/IsoCor"]
	path = packages/IsoCor
	url = https://github.com/MetaSys-LISBP/IsoCor.git
[submodule "packages/influx"]
	path = packages/influx
	url = https://github.com/sgsokol/influx.git
[submodule "packages/Skyline2IsoCor"]
	path = packages/Skyline2IsoCor
	url = https://github.com/MetaboHUB-MetaToul-FluxoMet/Skyline2IsoCor.git
[submodule "galaxy"]
	path = galaxy
	url = https://github.com/galaxyproject/galaxy.git
	branch = release_25.0
